<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro - Algorithm</title>
    <link rel="stylesheet" href="static/intro.css">
</head>
<body>

    <!-- Intro Container Section -->
    <div class="intro-container">
        <h1>Welcome to Algorithm Healthcare Database System</h1>
        <p>Your solution to managing patient records with ease and security.</p>
        <a href="{{ url_for('login') }}" class="btn">Login</a>
    </div>

</body>
</html>
